body {
    font-family: Arial;
    text-align: center;
}

.opcion {
    width: 120px;
    cursor: pointer;
    margin: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}